[submodule "doc/theme"]
	path = doc/theme
	url = http://gitlab.clearpathrobotics.com/research/clearpath-sphinx-theme.git
[submodule "clearpath-sphinx-theme"]
	path = clearpath-sphinx-theme
	url = http://gitlab.clearpathrobotics.com/research/clearpath-sphinx-theme.git
[submodule "latex/clearpath-latex"]
	path = latex/clearpath-latex
	url = git@github.com:civerachb-cpr/clearpath-latex
